<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record</title>
</head>
<body>
    <h2>Record a service you have completed.</h2>
    <div >
      <a href="/">Home</a>
      <a href="/record">Record</a>
      <a href="/summary">Summary</a>
    </div>
    <form method="POST" action="">
        <div>{{ form.date.label }}: {{ form.date() }}</div>
        <div>{{ form.time.label }}: {{ form.time() }}</div>
        <div>{{ form.location.label }}: {{ form.location() }}</div>
        <div>{{ form.status.label }}: {{ form.status() }}</div>
        <div>{{ form.staff.label }}: {{ form.staff() }}</div>
        <div>{{ form.submit }}</div>
    </form>
</body>
</html>