<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body>
    <h2>Service records summary</h2>
    <div >
      <a href="/">Home</a>
      <a href="/record">Record</a>
      <a href="/summary">Summary</a>
    </div>
        <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Status</th>
            <th>Staff Name</th>
        </tr>
        {% for item in records %}
        <tr>
            <td>{{ item.get_id() }}</td>
            <td>{{ item.get_date() }}</td>
            <td>{{ item.get_time() }}</td>
            {% if  item.get_location() == "AMK" %}
                    <td> Ang Mo Kio</td>
                {% elif item.get_location() == "YCK" %}
                    <td>Yio Chu Kang</td>
                {% elif item.get_location() == "Bishan" %}
                    <td>Bishan</td>
            {% endif %}
            <td>{{ item.get_status() }}</td>
            <td>{{ item.get_staff() }}</td>

        </tr>
        {% endfor %}

        </table>
</body>
</html>