<head>
    <title>Events</title>
    <style>
        .form-control {
            margin: 0px 10px 0px 5px
        }
    </style>
</head>

{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
<div class="container">
    <h1>Events</h1>

    <form class="form form-inline" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.form_field(form.time_filter) }}
      {{ wtf.form_field(form.submit) }}
    </form>

    <div class="row">
        {% for event in events %}
            <div class="col-md-4 col-sm-6">
                <a href="{{url_for('event', id=event.get_id())}}" style="text-decoration: none">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{event.get_image()}}" alt="image">
                        <div class="card-body">
                        <h5 class="card-title">{{event.get_name()}}</h5>
                        <p class="card-text">{{event.get_time_str()}}</p>
                      </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% if session['is_admin'] %}
        <a class="btn btn-success my-2" href="{{ url_for('event_add') }}">Add Event</a>
    {% endif %}
</div>

{% endblock %}
