<head>
    <title>{{title}}</title>

</head>

{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
<div class="container">
    <h1>{{title}}</h1>

    {{ wtf.quick_form(form) }}

</div>
{% endblock %}
