<head>
    <title>Event</title>
</head>

{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1>{{event.get_name()}}</h1>
    <h5>
        Event Time: {{event.get_time_str()}}
    </h5>
    <img class="d-block w-100" src="{{event.get_image()}}" alt="image">

    <div class="my-4" style="white-space: pre-wrap;">{{event.get_desc()}}</div>

    {% if session['is_admin'] %}
    <div class="my-2">
        <a class="btn btn-success" href="{{url_for('event_update', id=event.get_id())}}">Update</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger mx-2" data-toggle="modal" data-target="#exampleModal">
          Delete
        </button>
    </div>
    {% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="POST" action="">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete the event?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
    </div>
  </div>
</div>

</div>
{% endblock %}
