<head>
    <title>My Website</title>
</head>

{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1>Test</h1>

    <image class="d-block w-100" src="/static/be-a-dementia-friend-thumbnail.PNG"></image>
</div>
{% endblock %}
